#login_page{
    background-color: rgb(218, 219, 220);
    height: 700px;
}

#login_page .text{
    margin-top: 100px;
}

#login_page .login_part form{

    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-left: 100px;
    box-shadow: 5px 7px 30px 0px rgba(0, 0, 0, 0.30);

}
#login_page .login_part form input{
    width: 360px;
    height: 48px;
    margin: 10px 0px 10px 0px;
}
#login_page .login_part form .log_in{
    width: 360px;
    height: 48px;
    margin: 10px 0px 10px 0px;
}
#login_page .login_part form .form-control{
    width: 100px;
    height: 48px;
   border-right: none;
   border-color: rgb(92, 90, 90);
}
#login_page .login_part form .hide_show{
    width: 60px;
    height: 48px;
    margin-top: 10px;
    border-left: none;
}
#login_page .login_part form .hide_show:hover{
    background-color: aliceblue;
    color: blue;
}

#login_page .login_part form .Create{
    width: 200px;
    height: 48px;
    margin: 50px 0px 10px 0px;  
}


/* Facebook login end */


/* chat section start */

#cart_section{
    margin-top: 40px;
    
}
#cart_section .container .row img{
 
    width: 300px;
}
